@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
    }

h1{
    text-shadow: #3df4ee 1px 0 10px;
    font-family: 'SEGA LOGO FONT';
    font-weight: 200;
    color: #1b8f8b
    
}